{% extends "layout.html" %}

{% block title %} Draft Helper {% endblock %}

{% block content %}

    <h1 align="center">Select Drafted Heroes</h1>

    <div> {{ username }}</div>

    <table id="heroList" border=None align="center">
        <th> <td><pre> Allies </pre></td> <td></td><td></td><td><pre> Enemies </pre></td></th>
        <tr><td><input title="arthus" type="checkbox" onclick=heroProfileDisplay("{{username}}"); /></td></tr>
    </table>



    <script type="text/javascript" src="../static/heroSelector.js">
        window.onload = function() { heroSelector() };
    </script>

    <script type="text/javascript">
        function heroProfileDisplay(user) {
            window.alert(user);
            var req = new XMLHttpRequest();
            req.open("GET", "/getHeroes/" + user, true);
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    heroesList = JSON.parse(req.responseText);
                    window.alert(heroesList);
                }
            };
            req.send()
        }
    </script>
{% endblock %}



