{% extends "layout.html" %}

{% block title %} Draft Helper
<script type="text/javascript" src="../static/heroSelector.js">
</script>
{% endblock %}




{% block content %}

    <h1 align="center">Select Drafted Heroes</h1>

    <div id="topfive" align="center"></div>

    <table id="heroList" border=None align="center">
        <th> <td><pre> Allies </pre></td> <td></td><td></td><td><pre> Enemies </pre></td></th>
    </table>



    <script type="text/javascript" src="../static/heroSelector.js">
        window.onload = function() { heroSelector() };
    </script>

{% endblock %}



