{%  extends "layout.html" %}

{% block title %} Log In To Hero Selector {%  endblock %}
{% block content %}

<h1> Hello and Welcome to Hero Selector </h1> <br>
<h3> Login to Get Your Personalized Draft Advice </h3>



<form method="POST" action="/userProfile">
    <div> {{ form.username.label }}: {{ form.username(class="css_class") }}</div>
    <div> {{ form.password.label }}: {{ form.password() }}</div>
    <p>Don't have an account yet? Register <a href="/register">here</a></p>
    <input type="submit" value="Login">
</form>

{%  endblock %}